
body{
	background: lightgreen;
}
header{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 5% auto;
	height: 40px;
}
/*旋转立体*/
.wrap {
	display: inline-flex;
	perspective: 600px;
	perspective-origin: 50% 100px;
	width: 8%;
	height: 100px;
	margin-top: -25px;
}
.cube {
	position: relative;
	width: 100px;
	transform-style: preserve-3d;
}
.cube div {
	position: absolute;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	box-shadow: inset 0 0 50px;
	font-size: 80%;
	background: green;
	color:white;
}

.back {
	transform: translateZ(-50px) rotateY(180deg);
}

.right {
	transform: rotateY(-270deg) translateX(50px);
	transform-origin: top right;

}
.left {
	transform: rotateY(270deg) translateX(-50px);
	transform-origin: center left;
}
.top {
	transform: rotateX(-90deg) translateY(-50px);
	transform-origin: top center;
}
.bottom {
	transform: rotateX(90deg) translateY(50px);
	transform-origin: bottom center;
}
.front {
	transform: translateZ(50px);
}
.logoinfo{
	width: 100%;
	height: 100%;
	margin-top: 0px;
}
.logoinfo1{
	width: 100%;
	height: 100%;
	margin-top: -10px;
}
/*旋转立体动画*/
@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 5s infinite linear;
}
.wrap:hover .cube{
	animation-play-state: paused;
}
/*旋转菜单*/
#block{
	display: inline-flex;
	width: 70%;
	height: 100px;
	margin-left: 10%
}
#menu{
	display: flex;
	width: 800px;
	height: 100px;
}
#menu li{
	display: block;
	width: 45%;
	justify-content: space-between;
	padding: 5px;
}
#menu li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	overflow: visible;
	line-height: 15px;
	padding: 20px 15px;
}
.three-d {
	perspective: 200px;
	transition: all .07s;
	position: relative;
	cursor: pointer;
}
	.three-d:hover .three-d-box{
		transform: translateZ(-25px) rotateX(90deg);
	}
.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-25px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}
.frente {
	transform: rotatex(0deg) translatez(25px);
}

.atras {
	transform: rotatex(-90deg) translatez(25px);
}

.frente, .atras {
	display: block;
	text-align: center;
	width: 100%;
	height: 200%;
	position: absolute;
	background: lightgreen;
	top: 0;
	left: 0;
	padding: 20px 15px;
	color: black;
	box-sizing: border-box;
}
#login{
	display: flex;
	justify-content: flex-end;
	margin-top: -50px;
}
#login ul{
	width: 150px;
}
#login li{
	display: inline;
	list-style: none;
	text-decoration: none;
}
#login li a {
	text-decoration: underline;
	color:black;
	padding: 5px;
}
#login li a:hover{
	color:white;
	
}
section#section1{
	display: flex;
	background-image: url(jpg.jpg);
	background-size: 100% 100% ;
	background-position: all;
	height: 300px;
	width: 80%;
	margin: 5% auto;
}
section#section2{
	display: flex;
	height: 250px;
	width: 80%;
	margin: 5% auto;
	margin-top: -50px;
}
img.img{
	margin-top: -20px;
	width: 100%;
	border: 5px solid lightgreen;
	transition: width 2s,height 2s, transform 2s;
}
.img:hover{
	justify-content: center;
	margin-top: -200px;
	width: 150%;
	height: 100%;
	transform: rotate(360deg);
}
div#libro1{
	width: 25%;
	height: 85%;
}
div#libro2{
	width: 25%;
	height: 85%;
}
div#libro3{
	width: 25%;
	height: 85%;
}
div#libro4{
	width: 25%;
	height: 85%;
}
#section3{
	display: flex;
	height: 500px;
	width: 80%;
	margin: 5% auto;
	margin-top: 100px;
}
div#oferta{
	width: 100%
}
div#oferta span{
	display: block;
	text-align: center;
	background-image: linear-gradient(to right,red,blue);
	-webkit-background-clip: text;
	color:transparent;
	font-size: 105px;
	animation: mover 5s linear infinite ;
}
@keyframes mover{
	0%{
		background-image: linear-gradient(to right,blue,yellow);
		margin-top: 0px;
	}
	25%{
		background-image: linear-gradient(to right,yellow,orange);
		margin-top: 50px;
	}
	50%{
		background-image: linear-gradient(to right,orange,green);
		margin-top: 0px;
	}
	75%{
		background-image: linear-gradient(to right,green,gray);
		margin-top: 50px;
	}
	100%{
		background-image: linear-gradient(to right,gray,red);
		margin-top: 0;
	}
}
section#section4{
	display: flex;
	justify-content: space-around;
	margin-left: 100px;
	margin-right: 100px;
	height: 100px;
	margin-top: -100px;
}
.link{
	width: 100px;
	height: 100px;
}
#instagram{
	background-image: url(1495494697-jd06_84456.png);
	background-size: 120% 120%;
	background-position: all;
	width: 70px;
	height: 70px;
	margin: 10px;
}
#instagram:hover{
	background-image: url(instagram-png-instagram-icon-png-50-px-512.png);
	background-size: 120% 120%;
	background-position: all;
	width: 70px;
	height: 70px;
	margin: 10px;
}
#facebook{
	background-image: url(social-02-512.png);
	background-size: 100% 100%;
	background-position: all;
	width: 50px;
	height: 50px;
	margin: 10px;
	margin-top: 25px;
}
#facebook:hover{
	background-image: url(facebook-512.png);
	background-size: 100% 100%;
	background-position: all;
	width: 50px;
	height: 50px;
	margin: 10px;
	margin-top: 25px;
}
#twitter{
	background-image: url(697029-twitter-512.png);
	background-size: 100% 100%;
	background-position: all;
	width: 70px;
	height: 70px;
	margin: 10px;
	margin-top: 15px;
}
#twitter:hover{
	background-image: url(twitter-4-512.png);
	background-size: 100% 100%;
	background-position: all;
	width: 70px;
	height: 70px;
	margin: 10px;
	margin-top: 15px;
}
#correo{
	background-image: url(281769.png);
	background-size: 100% 100%;
	background-position: all;
	width: 70px;
	height: 70px;
	margin: 10px;
	margin-top: 15px;
}
#correo:hover{
	background-image: url(104069.png);
	background-size: 100% 100%;
	background-position: all;
	width: 70px;
	height: 70px;
	margin: 10px;
	margin-top: 15px;
}
div span{
	display: block;
	text-align: center;
	background-image: linear-gradient(to right,black,white);
	-webkit-background-clip: text;
	color:transparent;
	font-size: 55px;
}
div#dedo{
	width: 100px;
	height: 100px;
	background-image: url(176507.png);
	background-size: 100% 100%;
	background-position: all;
	animation: mova 2s linear infinite ;
	display: inline;
}
@keyframes mova{
	0%{
		background-image: url(176507.png);
		margin-right: 0px;
	}
	25%{
		background-image: url(176507.png);
		margin-right: 80px;
	}
	50%{
		background-image: url(176507.png);
		margin-right: 0px;
	}
	75%{
		background-image: url(176507.png);
		margin-right: 80px;
	}
	100%{
		background-image: url(176507.png);
		margin-right: 0;
	}
}
footer{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
}
@media (max-width: 800px){
	header{
		display: flex;
		justify-content: space-between;
		width: 80%;
		margin: 5% auto;
		height: 20px;
	}
	.wrap{
		margin-top: 20px;
	}
	.cube{
		width: 50px;
	}
	.cube div {
		position: absolute;
		width: 50px;
		height: 50px;
		line-height: 25px;
		box-shadow: inset 0 0 30px;
		font-size: 1px;
		word-break: break-all;
		background: green;
		color:white;
	}
	.back {
	transform: translateZ(-25px) rotateY(180deg);
	}

	.right {
		transform: rotateY(-270deg) translateX(25px);
		transform-origin: top right;
	}
	.left {
		transform: rotateY(270deg) translateX(-25px);
		transform-origin: center left;
	}
	.top {
		transform: rotateX(-90deg) translateY(-25px);
		transform-origin: top center;
	}
	.bottom {
		transform: rotateX(90deg) translateY(25px);
		transform-origin: bottom center;
	}
	.front {
		transform: translateZ(25px);
	}
	#menu{
		margin-top: -10px;
		margin-left: -70px;
	}
	#menu li {
		margin: 20px;
	}
	.frente,.atras{
		font-size: 5px;
		width: 10px;
		height: 10px;
		padding: 10px 5px;
	}
	#login{
	display: flex;
	justify-content: flex-end;
	margin-top: -25px;
	}
	#login{
		margin-left: -10px;
	}
	#login ul{
		width: 60px;
	}
	#login ul li a{
		font-size: 10px;
	}
	section#section1{
		height: 150px;
		margin-top: 100px;
	}
	#section3{
		display: flex;
		height: 300px;
		width: 80%;
		margin: 5% auto;
		margin-top: -125px;
	}
	div#oferta span{
		font-size: 40px;
	}
	@keyframes mover{
	0%{
		background-image: linear-gradient(to right,blue,yellow);
		margin-top: 0px;
	}
	25%{
		background-image: linear-gradient(to right,yellow,orange);
		margin-top: 10px;
	}
	50%{
		background-image: linear-gradient(to right,orange,green);
		margin-top: 0px;
	}
	75%{
		background-image: linear-gradient(to right,green,gray);
		margin-top: 10px;
	}
	100%{
		background-image: linear-gradient(to right,gray,red);
		margin-top: 0;
	}
	}
	div span{
		font-size: 25px;
	}
	section#section4{
		margin-top: -150px;
	}
	div#dedo{
		width: 35px;
		height: 35px;
		background-image: url(176507.png);
		background-size: 100% 100%;
		background-position: all;
		animation: mova 2s linear infinite ;
		display: inline;
}
@keyframes mova{
	0%{
		background-image: url(176507.png);
		margin-right: 0px;
	}
	25%{
		background-image: url(176507.png);
		margin-right: 10px;
	}
	50%{
		background-image: url(176507.png);
		margin-right: 0px;
	}
	75%{
		background-image: url(176507.png);
		margin-right: 10px;
	}
	100%{
		background-image: url(176507.png);
		margin-right: 0;
	}
}
	#instagram{
	background-image: url(1495494697-jd06_84456.png);
	background-size: 120% 120%;
	background-position: all;
	width: 20px;
	height: 20px;
	margin: 5px;
}
#instagram:hover{
	background-image: url(instagram-png-instagram-icon-png-50-px-512.png);
	background-size: 120% 120%;
	background-position: all;
	width: 20px;
	height: 20px;
	margin: 5px;
}
#facebook{
	background-image: url(social-02-512.png);
	background-size: 100% 100%;
	background-position: all;
	width: 20px;
	height: 20px;
	margin: 5px;
}
#facebook:hover{
	background-image: url(facebook-512.png);
	background-size: 100% 100%;
	background-position: all;
	width: 20px;
	height: 20px;
	margin: 5px;
}
#twitter{
	background-image: url(697029-twitter-512.png);
	background-size: 100% 100%;
	background-position: all;
	width: 20px;
	height: 20px;
	margin: 5px;
}
#twitter:hover{
	background-image: url(twitter-4-512.png);
	background-size: 100% 100%;
	background-position: all;
	width: 20px;
	height: 20px;
	margin: 5px;
}
footer{
	display: flex;
	text-align: center;
	justify-content: center;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: -50px;
	font-size: 10px;
}
.seguir{
	margin-top: 10px;
	font-size: 18px;
	margin-left: -50px;
}
}